@import "tailwindcss";

/* --- CONFIGURATION GLOBALE DES POLICES --- */
@layer base {
    body {
        /* Applique Poppins par défaut à tout le site */
        font-family: 'Poppins', 'Montserrat', sans-serif;
        @apply antialiased text-slate-900;
    }

    /* Style par défaut pour tous les titres pour ressembler à ton image */
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Poppins', 'Montserrat', sans-serif;
        @apply font-black tracking-tight; 
    }
}

/* Ton code existant */
[x-cloak] { display: none !important; }


/* Dans ton app.css */
/* On crée notre propre classe de formatage */
.rich-text-content h1 { font-size: 2.5rem !important; font-weight: 800 !important; margin-bottom: 1.5rem; color: #1B2E58; }
.rich-text-content h2 { font-size: 2rem !important; font-weight: 700 !important; margin-bottom: 1.2rem; color: #1B2E58; }
.rich-text-content p { margin-bottom: 1rem !important; line-height: 1.6; }
.rich-text-content ul { list-style-type: disc !important; margin-left: 1.5rem !important; margin-bottom: 1rem; }
.rich-text-content ol { list-style-type: decimal !important; margin-left: 1.5rem !important; margin-bottom: 1rem; }
.rich-text-content strong { font-weight: bold !important; }